.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: darkgrey;
  --bs-nav-link-color: secondary;
}

.video-title {
  color: Secondary;
  text-align: left;
  margin: left 2pc;
}

/* .navbar { */
/* padding: 5%; */
/* color: #a60b0a;
  font-size: x-large; */
/* padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 40; */

/* size: auto; */
/* } */

/* .collaspe {
  background-color: lightgray;
} */
/* .navbarHeader {
  font-size: larger;
}

.navbar-brand {
} */
/* .navbar {
  background-color: #b0d4dc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}



/* #time {
  margin: 10px 10%;
  border: 2px solid #000;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  background: #f0f8ff;
} */

/* #clickMe {
  margin: 10px 10%;
}

#map {
  height: 700px;
  width: 1300px;
}

body,
html {
  height: 100%;
} */

/* .carousel-item img {
  object-fit: contain;
  object-position: center;
  height: 30vh;
  overflow: hidden;
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
} */

/* .legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  line-height: 24px;
  color: #555;
  border-radius: 8px;
}

.legend {
  line-height: 25px;
  text-align: left;
  color: #555;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  font-size: 22px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-right: 25px;
  opacity: 0.6;
} */
